body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.app-interface {
    display: flex;
    flex-direction: row;
}

.stan-data {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.racuni {
    display: flex;
    flex-grow: 1;
}