body {
    margin: 0;
    padding: 0;
}

.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px solid black;
    width: 900px;
}

.add-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    border-right: 2px solid black;
}

.add-form>h3 {
    text-align: center;
}

.add-form>.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.add-form>.form>.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;
}

input {
    width: 115px;
    padding: 0;
}

select {
    width: 120px;
}

.products {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.products>h3 {
    text-align: center;
}

.products>.products-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.part-one {
    width: 50%;
}

.holder {
    width: 100%;
    height: 15px;
    border: 2px dotted black;
}

.part-two>input {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.part-two {
    padding-top: 15px;
}